*{
  padding: 0;
  margin: 0;
}
.header-menu{
  display: flex;
  background-color:#666;
  height: 32px;
}
.header-menu>div{
  color: #eee;
  cursor: pointer;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
}
.header-menu>div:hover{
  background: #909090;
}